<div class='main-container'>

  <div style='text-align: right'>
    <button class='gra-btn gra-btn-outline' data-controller='refresh-all' data-action='click->refresh-all#action'>
      Refresh All
      <i data-feather='refresh-cw' class='icon-right'></i>
    </button>
  </div>

  <div class='row feeds-list'>
    <% (feeds || []).each do |feed| %>
      <div class='col col-33' id='feed-<%= feed.id %>' data-controller='load-feed'>
        <div class='gra-card'>
          <div class='gra-card-content'>
            <h5 class='gra-card-title'>
              Loading Feed...
            </h5>
            <div class='gra-card-body'>
              <div class='gra-loading-dots'>
                <span class='gra-loading-dot dot-1'></span>
                <span class='gra-loading-dot dot-2'></span>
                <span class='gra-loading-dot dot-3'></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render partial: 'create_form' %>
  </div>
</div>
