<div class='main-container'>
  <%= render partial: 'create_form' %>

  <% if feeds.present? %>
    <div class='row feeds-list'>
      <% feeds.each do |feed| %>
        <turbo-frame class='col col-33' id='<%= feed.id %>' src='<%= routes.feed_show_path(feed.id) %>'>
          <div class='gra-card'>
            <div class='gra-card-content'>
              <h5 class='gra-card-title'>
                Loading Feed...
              </h5>
              <div class='gra-card-body'>
                <div class='gra-loading-dots'>
                  <span class='gra-loading-dot dot-1'></span>
                  <span class='gra-loading-dot dot-2'></span>
                  <span class='gra-loading-dot dot-3'></span>
                </div>
              </div>
            </div>
          </div>
        </turbo-frame>
      <% end %>
    </div>
  <% end %>
</div>
