<p>
  Welcome to RSS Reader!
</p>
<p>
  Click <a href='<%= pw_reset_url %>'>this link</a> to set a password for your account.
  <br />
  You will have to set a password before you can use your account.
</p>
