<p>
  A password reset was requested for the RSS Reader account associated with this e-mail address.
</p>
<p>
  If you did not make this request, you can safely ignore this e-mail and nothing will change with your account.
</p>
<p>
  To continue the process of resetting your password, <a href='<%= pw_reset_url %>'>click here</a>.
</p>
