.icon {
  width: 1.6rem;
  height: 1.6rem;

  // &.icon-left {
  //   margin-right: 0.75rem;
  // }

  // &.icon-right {
  //   margin-left: 0.75rem;
  // }

  &.link-separator {
    width: 6px;
    height: 6px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: currentColor;
  }
}

.gra-alert {
  .icon {
    height: 20px;
    width: 20px;
  }
}

.icon-outer {
  display: contents;
}
