@use './mixins/views' as *;

.navbar {
  margin: 0 4rem;
  padding: 2rem 0;
  text-align: center;

  @include mobile-view() {
    padding-bottom: 0;
  }

  .gra-nav {
    height: 4rem;
    justify-content: center;
    width: 100%;

    @include mobile-view() {
      justify-content: space-evenly;
    }

    .gra-nav-item {
      padding: 0;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      .icon {
        height: 3rem;
        width: 3rem;

        @include mobile-view() {
          height: 2.5rem;
          width: 2.5rem;
        }
      }

      a {
        &::after {
          bottom: 0;
        }
      }
    }
  }
}
