:root {
  --color-border: #d9d9df;
  --color-border-focus: #1c2023;
  --color-border-hover: #babbc5;
  --color-card-bg: #ffffff;
  --color-link: #1c2023;
  --color-link-disabled: #babbc5;
  --color-link-hover: #4397cf;
  --color-page-bg: #f9f9fb;
  --color-text: #1c2023;
  --color-text-muted: #3a4248;

  --alert-color-bg: #ffffff;
  --alert-color-text: #1c2023;
  --alert-error-color-bg: #d73c3c;
  --alert-error-color-text: #ffffff;
  --alert-info-color-bg: #3ca1d7;
  --alert-info-color-text: #1c2023;
  --alert-success-color-bg: #3cd7b3;
  --alert-success-color-text: #1c2023;
  --alert-warning-color-bg: #eac02a;
  --alert-warning-color-text: #1c2023;

  --btn-color-bg-hover: #44484e;
  --btn-color-bg: #1c2023;
  --btn-color-border-hover: #1c2023;
  --btn-color-border: #1c2023;
  --btn-color-text-hover: #f9f9fb;
  --btn-color-text: #f9f9fb;

  --btn-outline-color-bg-hover: #44484e;
  --btn-outline-color-bg: transparent;
  --btn-outline-color-border-hover: #1c2023;
  --btn-outline-color-border: #1c2023;
  --btn-outline-color-text-hover: #f9f9fb;
  --btn-outline-color-text: #1c2023;

  --tooltip-color-bg: #1c2023;
  --tooltip-color-text: #edeef0;
}

.dark {
  --color-border: #2f3135;
  --color-border-focus: #777b83;
  --color-border-hover: #44484e;
  --color-card-bg: #18191b;
  --color-link: #edeef0;
  --color-link-disabled: #777b83;
  --color-link-hover: #4090c6;
  --color-page-bg: #111113;
  --color-text: #edeef0;
  --color-text-muted: #c6c9cf;

  --alert-color-bg: #18191b;
  --alert-color-text: #c6c9cf;
  --alert-error-color-text: #ffffff;
  --alert-success-color-text: #1c2023;

  --btn-color-bg-hover: #44484e;
  --btn-color-bg: #3c3f44;
  --btn-color-border-hover: #3c3f44;
  --btn-color-border: #3c3f44;
  --btn-color-text-hover: #edeef0;
  --btn-color-text: #edeef0;

  --btn-outline-color-bg-hover: #44484e;
  --btn-outline-color-bg: transparent;
  --btn-outline-color-border-hover: #3c3f44;
  --btn-outline-color-border: #3c3f44;
  --btn-outline-color-text-hover: #edeef0;
  --btn-outline-color-text: #edeef0;

  --tooltip-color-bg: #44484e;
  --tooltip-color-text: #edeef0;
}
