:root {
  --color-border: #d9d9df;
  --color-border-hover: #babbc5;
  --color-border-focus: #1c2023;
  --color-card-bg: #ffffff;
  --color-link: #1c2023;
  --color-link-hover: #4397cf;
  --color-link-disabled: #babbc5;
  --color-page-bg: #f9f9fb;
  --color-text: #1c2023;
  --color-text-muted: #3a4248;

  --alert-color-bg: #ffffff;
  --alert-color-text: black;

  --btn-color-bg-hover: #babbc5;
  --btn-color-bg: #e8e8eb;
  --btn-color-text-hover: #1c2023;
  --btn-color-text: #1c2023;

  --tooltip-color-bg: black;
  --tooltip-color-text: #edeef0;
}

.dark {
  --color-border: #2f3135;
  --color-border-hover: #44484e;
  --color-border-focus: #777b83;
  --color-card-bg: #18191b;
  --color-link: #edeef0;
  --color-link-hover: #2860a8;
  --color-link-disabled: #777b83;
  --color-page-bg: #111113;
  --color-text-muted: #c6c9cf;
  --color-text: #edeef0;

  --alert-color-bg: #18191b;
  --alert-color-text: #c6c9cf;

  --btn-color-bg: #282a2d;
  --btn-color-bg-hover: #3c3f44;
  --btn-color-text: #b1b4ba;
  --btn-color-text-hover: #b1b4ba;
}
