@use './mixins/views' as *;

.gra-alert {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: initial;
  line-height: initial;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  font-size: 1.5rem;

  .alert-icon {
    flex-grow: 0;
    flex-shrink: 1;
  }

  .alert-content {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &.green {
    color: black;
  }
}

.gra-form-group:last-child {
  margin-bottom: 0;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  font-size: 1.6rem;
}

.gra-modal-wrapper.open {
  display: block;
  opacity: 1;
  visibility: visible;
}


@mixin modal-defaults {
  .gra-modal {
    max-width: 90%;
    max-height: 90%;

    @include mobile-view() {
      top: 0;
      transform: translate(-50%, 2rem);
    }

    .gra-modal-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      .feather {
        width: 20px;
        height: 20px;
      }
    }

    .gra-modal-body {
      display: flex;
      justify-content: space-evenly;

      @include mobile-view() {
        flex-wrap: wrap;

        .gra-form-group {
          width: 100%;

          .js-Dropdown {
            width: 100%;
          }
        }
      }
    }
  }
}

#preferences-modal {
  @include modal-defaults;

  .gra-modal {
    .gra-modal-body {
      align-items: center;
      align-content: center;

      @include desktop-view() {
        .gra-form-group {
          margin: 0;
        }
      }
    }
  }
}

#account-modal {
  @include modal-defaults;

  .gra-modal {
    overflow: hidden;

    .gra-modal-body {
      gap: 3rem;
      align-items: flex-start;
      align-content: flex-start;
      overflow: auto;
      max-height: 80vh;

      .form-separator {
        align-self: stretch;
        border-left: 1px solid #d9dcde;
        margin-left: -1px;

        @include mobile-view() {
          border-bottom: 1px solid #d9dcde;
          margin-bottom: -1px;
          width: 100%;
        }
      }
    }
  }
}

body.dark {
  #account-modal {
    .gra-modal {
      .gra-modal-body {
        .form-separator {
          border-color: #5f676d;
        }
      }
    }
  }
}
