@use './mixins/views' as *;

.navbar {
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;

  .gra-nav {
    height: 4rem;
    justify-content: center;
    width: 100%;

    @include mobile-view() {
      justify-content: space-evenly;
    }

    .gra-nav-item {
      padding: 0;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      .feather {
        height: 20px;
        width: 20px;

        @include mobile-view() {
          height: 30px;
          width: 30px;
        }
      }

      a {
        &::after {
          bottom: 0;
        }
      }
    }
  }
}
