.navbar {
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
  text-align: center;

  .gra-nav {
    justify-content: center;
    width: 100%;

    .gra-nav-item {
      padding: 0;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      .feather {
        height: 20px;
        width: 20px;
      }

      a {
        &::after {
          bottom: 0;
        }
      }
    }
  }
}
