@use 'sanitize.css/sanitize';
@use 'sanitize.css/typography';
@use 'sanitize.css/forms';
@use 'gralig/dist/gralig.min';
@use './feather-overrides';
@use './gralig-overrides';
@use './navbar';
@use './tooltip';
@use './vendor/js-snackbar';

@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Hubballi', sans-serif !important;
}

html, body {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .visible-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.main-container {
  margin: auto;
  padding: 0 4rem 4rem 4rem;
  width: 60%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.content-container {
  padding-bottom: 4rem;

  > .gra-card {
    width: 25%;

    @media screen and (max-width: 1000px) {
      width: 50%;
    }

    @media screen and (max-width: 800px) {
      width: 75%;
    }

    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }
}

.centered-container {
  align-content: center;
  flex-wrap: wrap;
}

fieldset {
  > legend {
    width: 100%;
  }
}

.auth-form-links {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.prefixed-input {
  position: relative;

  &::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -7px;
    padding-left: 1.6rem;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }

  > input {
    padding-left: 4.8rem;
  }

  &.prefixed-input--email::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mail'%3E%3Cpath d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z'%3E%3C/path%3E%3Cpolyline points='22,6 12,13 2,6'%3E%3C/polyline%3E%3C/svg%3E");
  }

  &.prefixed-input--password::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-lock'%3E%3Crect x='3' y='11' width='18' height='11' rx='2' ry='2'%3E%3C/rect%3E%3Cpath d='M7 11V7a5 5 0 0 1 10 0v4'%3E%3C/path%3E%3C/svg%3E");
  }

  &.prefixed-input--url::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-rss'%3E%3Cpath d='M4 11a9 9 0 0 1 9 9'%3E%3C/path%3E%3Cpath d='M4 4a16 16 0 0 1 16 16'%3E%3C/path%3E%3Ccircle cx='5' cy='19' r='1'%3E%3C/circle%3E%3C/svg%3E");
  }

  &.prefixed-input--title::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-tag'%3E%3Cpath d='M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z'%3E%3C/path%3E%3Cline x1='7' y1='7' x2='7.01' y2='7'%3E%3C/line%3E%3C/svg%3E");
  }
}

.row {
  flex-wrap: wrap !important;
}

.add-feed-form {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }

  .gra-form-group {
    margin-bottom: 0;
    flex: 1;

    &:first-child {
      flex-basis: 85%;
    }

    &:last-child {
      flex-basis: 15%;
    }

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;
    }

    .gra-btn {
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    @media (max-width: 767px) {
      &:first-child {
        flex-basis: 100%;
      }

      &:last-child {
        flex-basis: 100%;
      }

      input {
        border-top-right-radius: 0.2rem;
        border-bottom-left-radius: 0rem;
        border-right-width: 1px;
        border-bottom-width: 0;
        min-height: 4rem;
      }

      .gra-btn {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.2rem;
        min-height: 4rem;
      }
    }
  }
}

.edit-form-container, .delete-form-container {
  padding: 1.6rem;

  .edit-feed-form, .delete-feed-form {
    .gra-form-actions {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      .gra-btn {
        width: 100%;
        margin: 0;
      }
    }
  }
}

#feeds-form {
  margin-bottom: 2rem;
}

.feeds-list {
  @media (max-width: 767px) {
    .col {
      padding-bottom: 2rem;
      padding-top: 2rem;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  .gra-card {
    height: 100%;
    margin-bottom: 0;

    .gra-card-content {
      display: flex;
      flex-direction: column;
      max-height: 400px;
      min-height: 400px;

      .gra-card-title {
        @media screen and (min-width: 768px) {
          cursor: move;
        }

        > .feed-actions {
          display: none;
          padding-top: 1rem;

          > span > .feather {
            cursor: pointer;
            height: 14px;
            width: 14px;
          }
        }

        > span > .feather {
          cursor: pointer;
          display: none;
          height: 14px;
          width: 14px;
          margin-left: 0.5rem;
        }

        &:hover {
          > .feed-actions {
            display: flex;
            justify-content: space-between;
            align-content: center;
          }

          > span > .feather {
            display: initial;
          }
        }
      }

      .gra-card-body {
        flex-shrink: 1;
        flex-grow: 0;
        flex-basis: auto;
        overflow: auto;

        .gra-list {
          padding: 0;
        }
      }
    }
  }
}
