@use './vars';
@use './reset';
@use './lib/gralig';
@use './animations';
@use './icon_styles';
@use './inputs';
@use './gralig_overrides';
@use './navbar';
@use './tooltip';
@use './lib/vanilla-js-dropdown';
@use './mixins/views' as *;
@use './vendor/js_snackbar';

@import url('https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900|work-sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
  font-family: 'Inter', sans-serif !important;
  // font-family: 'Work Sans', sans-serif !important;
}

html, body {
  background-color: var(--color-page-bg);
  color: var(--color-text);
  height: 100%;
  min-height: 100vh;

  @supports (scroll-behavior: smooth) {
    scroll-behavior: smooth;
  }
}

@include desktop-view() {
  .visible-mobile {
    display: none !important;
  }
}

@include mobile-view() {
  .hidden-mobile {
    display: none !important;
  }
}

:where(a, button) {
  align-items: center;
  display: inline-flex;
  gap: 0.75rem;
  justify-content: center;
  text-align: center;
}

#notice {
  align-items: center;
  background-color: var(--color-card-bg);
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 2rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10000;
}

#scroll-to-top {
  animation: fadeIn 0.15s ease;
  bottom: 3rem;
  cursor: pointer;
  opacity: 1;
  position: fixed;
  right: 3rem;
  visibility: visible;

  @include mobile-view() {
    display: none;
  }

  &.hide {
    animation: fadeOut 0.15s ease;
    cursor: default;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .icon {
    height: 3rem;
    width: 3rem;
  }
}

.main-container {
  margin: auto;
  padding: 0 4rem 4rem 4rem;
  width: 960px;
  max-width: 100%;

  @include mobile-view() {
    width: 100%;
  }
}

.auth-form-container {
  margin: auto;
  padding: 2rem 0;
  width: 25em;
  max-width: 90%;
}

.centered-container {
  align-content: center;
  flex-wrap: wrap;
}

.auth-form-actions {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: flex-start;

  a:not(.gra-btn) {
    font-size: 0.9em;
  }
}

.row {
  flex-wrap: wrap !important;
}

.feeds-list {
  @include mobile-view() {
    .col {
      padding: 2rem 0;
    }
  }

  .gra-card {
    height: 100%;
    max-height: 450px;
    margin-bottom: 0;

    .gra-card-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      .gra-card-title {
        @include desktop-view() {
          cursor: move;

          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: nowrap;
          flex-direction: row;
          gap: 0.75rem;

          .feed-title {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;

            &.extended {
              overflow: initial;
              text-overflow: initial;
              text-wrap: balance;
            }
          }

          .feed-actions {
            flex-grow: 0;
          }
        }

        .feed-actions {
          display: none;

          .icon-outer {
            .icon {
              cursor: pointer;
              height: 1.5rem;
              width: 1.5rem;
            }
          }
        }

        &:hover, &:focus {
          .feed-actions {
            align-items: center;
            display: flex;
            gap: 0.75rem;
            justify-content: space-between;

            @include mobile-view() {
              padding-top: 1rem;
            }
          }
        }
      }

      .gra-card-body {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        overflow: auto;

        .gra-list {
          padding: 0;

          .gra-list-item {
            a {
              justify-content: flex-start;
              text-align: left;
            }
          }
        }

        &.edit-form-container, &.delete-form-container {
          // align-items: center;
          // display: flex;
          // flex-grow: 1;
          // justify-content: center;
          padding: 1.6rem;

          > form {
            width: 100%;

            .edit-feed-form, .delete-feed-form {
              .gra-form-actions {
                align-content: center;
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;
                justify-content: center;

                .gra-btn {
                  margin: 0;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.add-feed-form {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;

  @include mobile-view() {
    flex-wrap: wrap;
  }

  .gra-form-group {
    flex: 1;
    margin-bottom: 0;

    &:first-child {
      flex-basis: 85%;
    }

    &:last-child {
      flex-basis: 15%;
    }

    input {
      border-bottom-right-radius: 0;
      border-right-width: 0;
      border-top-right-radius: 0;
    }

    .gra-btn {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      height: 100%;
    }

    @include mobile-view() {
      &:first-child {
        flex-basis: 100%;
      }

      &:last-child {
        flex-basis: 100%;
      }

      input {
        border-bottom-left-radius: 0rem;
        border-bottom-width: 0;
        border-right-width: 1px;
        border-top-right-radius: 0.2rem;
        min-height: 4rem;
      }

      .gra-btn {
        border-bottom-left-radius: 0.2rem;
        border-top-right-radius: 0;
        min-height: 4rem;
      }
    }
  }
}

footer {
  margin: 1.5rem 0;
  text-align: center;
  width: 100%;
}
