<div class='content-container centered-container gra-flex gra-flex-jc-c gra-height-100' style='flex-wrap: wrap;'>
  <div class='gra-card'>
    <div class='gra-card-content'>
      <div class='gra-card-body'>

        <% if token_invalid %>
          <div class='gra-alert red' role='alert'>
            <div class='alert-icon'>
              <i data-feather='x-circle'></i>
            </div>
            <div class='alert-content'>
              <%= flash[:error_alert] %>
            </div>
          </div>
        <% elsif requesting_reset_email %>
          <%=
            form_for :auth, routes.process_reset_password_path, 'data-scrollfreeze': true do
              fieldset do
                legend do
                  h5 'Request Password Reset', class: 'gra-heading'
                end

                if flash[:error_alert].present?
                  div class: 'gra-mg-bottom-m gra-alert red', role: 'alert' do
                    div class: 'alert-icon' do
                      i '', 'data-feather': 'x-circle'
                    end
                    div class: 'alert-content' do
                      flash[:error_alert]
                    end
                  end
                end

                if flash[:success_alert].present?
                  div class: 'gra-mg-bottom-m gra-alert green', role: 'alert' do
                    div class: 'alert-icon' do
                      i '', 'data-feather': 'check-circle'
                    end
                    div class: 'alert-content' do
                      flash[:success_alert]
                    end
                  end
                end

                div class: 'gra-form-group' do
                  label 'E-mail', for: :email
                  span class: 'prefixed-input prefixed-input--email' do
                    email_field :email
                  end
                end

                div class: 'gra-form-group gra-center-text' do
                  submit class: 'gra-btn gra-width-100' do
                    span 'Submit Reset Request'
                    i '', 'data-feather': 'send', class: 'icon-right'
                  end
                end

                div class: 'gra-form-group auth-form-links' do
                  a 'Sign In', href: routes.sign_in_path
                end
              end
            end
          %>
        <% elsif providing_new_password %>
          <%=
            form_for :auth, routes.process_reset_password_path, 'data-scrollfreeze': true do
              fieldset do
                legend do
                  title = new_account ? 'Create a password for your account' : 'Set a new password'
                  h5 title, class: 'gra-heading'
                end

                if flash[:error_alert].present?
                  div class: 'gra-mg-bottom-m gra-alert red', role: 'alert' do
                    div class: 'alert-icon' do
                      i '', 'data-feather': 'x-circle'
                    end
                    div class: 'alert-content' do
                      flash[:error_alert]
                    end
                  end
                end

                if flash[:success_alert].present?
                  div class: 'gra-mg-bottom-m gra-alert green', role: 'alert' do
                    div class: 'alert-icon' do
                      i '', 'data-feather': 'check-circle'
                    end
                    div class: 'alert-content' do
                      flash[:success_alert]
                    end
                  end
                end

                div class: 'gra-form-group' do
                  label 'New Password', for: :password
                  span class: 'prefixed-input prefixed-input--password' do
                    password_field :password
                  end
                end

                div class: 'gra-form-group' do
                  label 'Confirm New Password', for: :password_confirmation
                  span class: 'prefixed-input prefixed-input--password' do
                    password_field :password_confirmation
                  end
                end

                div do
                  hidden_field :token, value: params.get(:token)
                end

                div class: 'gra-form-group gra-center-text' do
                  submit class: 'gra-btn gra-width-100' do
                    span 'Set Password'
                    i '', 'data-feather': 'check-square', class: 'icon-right'
                  end
                end

                div class: 'gra-form-group auth-form-links' do
                  a 'Sign In', href: routes.sign_in_path
                end
              end
            end
          %>
        <% else %>
          <div class='gra-alert red' role='alert'>
            <div class='alert-icon'>
              <i data-feather='x-circle'></i>
            </div>
            <div class='alert-content'>
              The was an unknown problem loading the password reset form
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: './footer' %>
</div>
