<%
  unless errored
%>

  <div>
  <%=
    if new_account
      'Create a password for your account'
    else
      'Set a new password'
    end
  %>
  </div>

  <%=
    form_for :auth, routes.process_reset_password_path do
      div do
        label 'New Password', for: :password
        password_field :password
      end

      div do
        label 'Confirm New Password', for: :password_confirmation
        password_field :password_confirmation
      end

      div do
        hidden_field :token, value: params.get(:token)
      end

      div do
        submit 'Set Password'
      end
    end
  %>

<% end %>
