<div class='content-container centered-container gra-flex gra-flex-jc-c gra-height-100'>
  <div class='gra-card'>
    <div class='gra-card-content'>
      <div class='gra-card-body'>
        <%=
          form_for :auth, routes.process_sign_in_path do
            fieldset do
              legend do
                h5 'Sign In', class: 'gra-heading'
              end

              if flash[:error_alert].present?
                div class: 'gra-mg-bottom-m gra-alert red', role: 'alert' do
                  div class: 'alert-icon' do
                    i '', 'data-feather': 'x-circle'
                  end
                  div class: 'alert-content' do
                    flash[:error_alert]
                  end
                end
              end

              if flash[:success_alert].present?
                div class: 'gra-mg-bottom-m gra-alert green', role: 'alert' do
                  div class: 'alert-icon' do
                    i '', 'data-feather': 'check-circle'
                  end
                  div class: 'alert-content' do
                    flash[:success_alert]
                  end
                end
              end

              div class: 'gra-form-group' do
                label 'E-mail', for: :email
                span class: 'prefixed-input prefixed-input--email' do
                  email_field :email
                end
              end

              div class: 'gra-form-group' do
                label 'Password', for: :password
                span class: 'prefixed-input prefixed-input--password' do
                  password_field :password
                end
              end

              div class: 'gra-form-group gra-center-text' do
                submit class: 'gra-btn gra-width-100' do
                  span 'Sign In'
                  i '', 'data-feather': 'log-in', class: 'icon-right'
                end
              end

              div class: 'gra-form-group auth-form-links' do
                a 'Forgot Password?', href: routes.reset_password_path
                i '', 'data-feather': 'circle', class: 'link-separator'
                a 'Create Account', href: routes.create_account_path
              end
            end
          end
        %>
      </div>
    </div>
  </div>
</div>
