<div id='account-modal' class='gra-modal-wrapper' tabindex='-1' role='dialog'>
  <a class='gra-modal-overlay' href='#' data-controller='modal' data-action='click->modal#close:prevent' data-id='account-modal'></a>
  <div class='gra-modal'>
    <div class='gra-modal-header'>
      <h5 class='gra-modal-title' id='modal_title'>
        Profile
      </h5>
      <span>
        <a href='#' data-controller='modal' data-action='click->modal#close:prevent' data-id='account-modal'>
          <i data-feather='x'></i>
        </a>
      </span>
    </div>
    <div class='gra-modal-body'>
      <%=
        form_for :profile, routes.settings_update_path, method: :patch, 'data-scrollfreeze': true do
          fieldset do
            legend do
              h5 'Update Profile', class: 'gra-heading'
            end

            hidden_field :context, value: 'profile'

            div class: 'gra-form-group' do
              label 'E-mail', for: :email
              span class: 'prefixed-input prefixed-input--email' do
                email_field :email, value: current_user.email
              end
            end

            div class: 'gra-form-group' do
              label 'Current Password', for: 'profile_current_password'
              span class: 'prefixed-input prefixed-input--password' do
                password_field :current_password, id: 'profile_current_password'
              end
            end

            div class: 'gra-form-group gra-center-text' do
              submit class: 'gra-btn gra-width-100' do
                span 'Update Profile'
                i '', 'data-feather': 'user-check', class: 'icon-right'
              end
            end
          end
        end
      %>

      <div class='form-separator'></div>

      <%=
        form_for :profile, routes.settings_update_path, method: :patch, 'data-scrollfreeze': true do
          fieldset do
            legend do
              h5 'Change Password', class: 'gra-heading'
            end

            hidden_field :context, value: 'password'

            div class: 'gra-form-group' do
              label 'New Password', for: :new_password
              span class: 'prefixed-input prefixed-input--password' do
                password_field :new_password
              end
            end

            div class: 'gra-form-group' do
              label 'Confirm New Password', for: :new_password_confirmation
              span class: 'prefixed-input prefixed-input--password' do
                password_field :new_password_confirmation
              end
            end

            div class: 'gra-form-group' do
              label 'Current Password', for: 'pw_current_password'
              span class: 'prefixed-input prefixed-input--password' do
                password_field :current_password, id: 'pw_current_password'
              end
            end

            div class: 'gra-form-group gra-center-text' do
              submit class: 'gra-btn gra-width-100' do
                span 'Change Password'
                i '', 'data-feather': 'key', class: 'icon-right'
              end
            end
          end
        end
      %>
    </div>
  </div>
</div>
