<div class='navbar'>
  <span tooltip='feeds' tooltip-position='bottom'>
    <a href='/feeds'>
      <i data-feather='home'></i>
    </a>
  </span>
  <span tooltip='settings' tooltip-position='bottom'>
    <a href='/settings'>
      <i data-feather='settings'></i>
    </a>
  </span>
  <span tooltip='logout' tooltip-position='bottom'>
    <a href='/auth/sign_out'>
      <i data-feather='log-out'></i>
    </a>
  </span>
</div>
