<%
  settings = current_user&.settings&.value || UserSettings::DEFAULTS
%>

<div id='preferences-modal' class='gra-modal-wrapper' tabindex='-1' role='dialog'>
  <a class='gra-modal-overlay' href='#' data-controller='modal' data-action='click->modal#close:prevent' data-id='preferences-modal'></a>
  <div class='gra-modal'>
    <div class='gra-modal-header'>
      <h5 class='gra-modal-title' id='modal_title'>
        Preferences
      </h5>
      <span>
        <a href='#' data-controller='modal' data-action='click->modal#close:prevent' data-id='preferences-modal'>
          <i data-feather='x'></i>
        </a>
      </span>
    </div>
    <%=
      form_for :preferences, routes.settings_update_path, method: :patch, 'data-scrollfreeze': true do
        div class: 'gra-modal-body' do
          hidden_field :context, value: 'preferences'

          div class: 'gra-form-group' do
            label 'Theme', for: 'theme-selector'
            select :theme,
              [
                ['Light', 'light'],
                ['Dark', 'dark']
              ],
              id: 'theme-selector',
              'data-controller': 'dropdown',
              'data-id': 'theme-selector',
              options: { selected: settings[:theme] }
          end

          div class: 'gra-form-group' do
            label 'Auto-refresh Interval', for: 'refresh-interval-selector'
            select :refresh_interval,
              [
                ['Off', 0],
                ['30 Seconds', 30],
                ['1 Minute', 60],
                ['5 Minutes', 60 * 5],
                ['10 Minutes', 60 * 10],
                ['30 Minutes', 60 * 30]
              ],
              id: 'refresh-interval-selector',
              'data-controller': 'dropdown',
              'data-id': 'refresh-interval-selector',
              options: { selected: settings[:refresh_interval].to_i }
          end
        end

        div class: 'gra-modal-footer' do
          div class: 'gra-modal-actions' do
            submit class: 'gra-btn' do
              span 'Save'
              i 'data-feather': 'check', class: 'icon-right'
            end
          end
        end
      end
    %>
  </div>
</div>
