<!DOCTYPE html>
<html>
  <head>
    <title>RSS Reader</title>
    <%= favicon %>
    <link href='https://fonts.googleapis.com' rel='preconnect'>
    <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
    <%= stylesheet 'styles' %>
    <%= javascript 'scripts', defer: true %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
